<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rahul Shetty Automation Practice">
    <test name="rahulshettypractice">
        <parameter name="Name" value="Harsha"></parameter>
        <classes>
            <class name="rahulshettytests.BasicTests"/>
            <class name="rahulshettytests.MediumTests"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->